
body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.carrito-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
}
.carrito-titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #007bff;
}
.carrito-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.carrito-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
}
.carrito-item-details {
    flex: 1;
}
.carrito-item-price {
    margin-right: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
.carrito-total {
    text-align: right;
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bold;
}
.remove-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.remove-btn:hover {
    background-color: #c82333;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}
.btn-primary:hover {
    background-color: #0056b3;
}